h2{
    text-align: center;
}
.container{
display: flex;
justify-content: center;
}
.mat-raised-button mat-primary{
    padding: 10vw;
}

@media only screen and (max-width: 500px) {
    .container,h2{
        font-size: 4vw;
    }
    
}